<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.quranaudio.quiz.quiz.QuranQuestionRevivalActivity"
            android:exported="false" />

        <activity
            android:name="com.quranaudio.quiz.quiz.QuranQuizNotifyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quranaudio.quiz.quiz.QuranQuizNotifyResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quran.quranaudio.quiz.activity.QuranQuestionFailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>