<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.raiadnan.quranreader.prayertimes.App"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:hardwareAccelerated="false"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <receiver
            android:name=".ui.broadcast_receiver.DbReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.shid.mosquefinder.DBLOAD" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.Main.View.LoadingActivity" />
        <activity
            android:name=".ui.Main.View.SettingsActivity"
            android:label="Settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.Main.View.ItemActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.Main.View.ChapterActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.HomeActivity"
            android:theme="@style/AppTheme" />

        <service
            android:name=".ui.services.SurahDLService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ui.services.MusicService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.Main.View.MusicActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.Main.View.CategoriesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.Main.View.AyahActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.Main.View.SurahActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Allah.activities.AllahNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.LiveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.CalendarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.PrayerCalendarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <activity
            android:name=".sixteenlines.ReadActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".sixteenlines.SixteenLines_MainPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.raiadnan.quranreader.sixteenlines.JuzContents"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.raiadnan.quranreader.sixteenlines.SuraContents"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.raiadnan.quranreader.sixteenlines.BookMark"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_ic" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryDark" /> <!-- Sample  app ID: ca-app-pub-3940256099942544~3347511713 -->


        <!-- Prayer Times -->
        <activity
            android:name=".compass.QiblaDirectionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.QuickAccessActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.orclass"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyACMnpsQA5xwXpAMBJI3z6Y_GqUuHAbp_I" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <receiver
            android:name=".prayertimes.services.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".prayertimes.services.PrayerService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.raiadnan.quranreader.prayertimes.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- Delete -->
        <meta-data
            android:name="com.android.vending.splits"
            android:value="@xml/splits0" />

        <activity
            android:name=".hadith.settings.SettingsActivity"
            android:theme="@style/Theme.HadithPro"
            android:exported="false"
            android:label="@string/title_settings">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".hadith.HadithActivity"
            android:theme="@style/Theme.HadithPro"
            android:exported="true"/>

        <activity
            android:name=".hadith.search.SearchActivity"
            android:theme="@style/Theme.HadithPro"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

    </application>
</manifest>