<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-sdk tools:overrideLibrary="androidx.core.splashscreen" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <application
        android:name="com.quran.quranaudio.online.App"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="true"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        tools:targetApi="s">


        <activity android:name="com.quran.quranaudio.online.SplashScreenActivity"
            android:theme="@style/LaunchTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.quran.quranaudio.online.prayertimes.ui.DefaultActivity"
            android:exported="true">
        </activity>


        <activity
            android:name=".activities.HomeActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.quran.quranaudio.online.activities.SixKalmasActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.quran.quranaudio.online.compass.QiblaDirectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.quran.quranaudio.online.activities.ZakatCalculatorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.LiveActivity"
            android:exported="true"
        android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <service
            android:name="com.quran.quranaudio.online.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_ic" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryDark" /> <!-- Sample  app ID: ca-app-pub-3966802724737141~7853010339 -->


        <!-- Prayer Times -->

        <activity
            android:name="com.quran.quranaudio.online.prayertimes.ui.appintro.IntroActivity"
            android:theme="@style/AppTheme"
            android:exported="false" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyACMnpsQA5xwXpAMBJI3z6Y_GqUuHAbp_I" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.quran.quranaudio.online.prayertimes.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- Delete -->
        <meta-data
            android:name="com.android.vending.splits"
            android:value="@xml/splits0" />

        <activity
            android:name="com.quran.quranaudio.online.hadith.settings.SettingsActivity"
            android:theme="@style/Theme.HadithPro"
            android:exported="false"
            android:label="@string/title_settings">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="com.quran.quranaudio.online.hadith.HadithActivity"
            android:theme="@style/Theme.HadithPro"
            android:exported="true"/>

        <activity
            android:name="com.quran.quranaudio.online.hadith.search.Hadith_SearchActivity"
            android:theme="@style/Theme.HadithPro"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/applovin_sdk_key" />

        <!-- Prayer Times -->

        <activity
            android:name="com.quran.quranaudio.online.prayertimes.ui.MainActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.quran.quranaudio.online.prayertimes.ui.calendar.CalendarActivity" />
        <activity
            android:name="com.quran.quranaudio.online.prayertimes.ui.timingtable.TimingTableActivity"
            android:screenOrientation="portrait" />

        <!-- Quran_Module -->

        <activity android:name="com.quran.quranaudio.online.quran_module.activities.Activity_Quran_Bookmark" />
        <activity android:name="com.quran.quranaudio.online.quran_module.activities.ActivityReadHistory" />
        <activity android:name="com.quran.quranaudio.online.quran_module.activities.ActivityDownloads" />
        <activity android:name="com.quran.quranaudio.online.quran_module.activities.ActivityReference"
            android:exported="true">
            <intent-filter>
                <action android:name="com.quran.quranaudio.online.action.OPEN_REFERENCE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.quran.quranaudio.online.quran_module.activities.ActivityTopics" />
        <activity android:name="com.quran.quranaudio.online.quran_module.activities.ActivityProphets" />
        <activity
            android:name=".quran_module.activities.ActivityTafsir"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.quran.quranaudio.online.action.OPEN_TAFSIR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.quran.quranaudio.online.quran_module.activities.ActivityChapInfo"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.quran.quranaudio.online.action.OPEN_CHAPTER_INFO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter android:label="About Surah (QuranApp)">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="quran.com"/>
                <data android:pathPattern="/chapter_info/.*"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.quran.quranaudio.online.quran_module.activities.readerSettings.Activity_Quran_Settings"
            android:launchMode="singleTask" />
        <activity
            android:name="com.quran.quranaudio.online.quran_module.activities.ActivityQuran_Search"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".quran_module.activities.ActivityReaderIndexPage" />
        <activity
            android:name="com.quran.quranaudio.online.quran_module.activities.ActivityReader"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.quran.quranaudio.online.action.OPEN_READER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"/>
                <data android:host="quran.com"/>
                <data android:pathPattern="/juz/.*"/>
                <data android:pathPattern="/\\d+"/>
                <data android:pathPattern="/\\d+/\\d+"/>
                <data android:pathPattern="/\\d+/\\d+-\\d+"/>
                <data android:pathPattern="/\\d+:\\d+"/>
                <data android:pathPattern="/\\d+:\\d+-\\d+"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.quran.quranaudio.online.quran_module.activities.ActivityEditShare"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".quran_module.activities.ActivityOnboarding" />
        <activity android:name=".quran_module.activities.ActivityAbout" />
        <activity android:name=".quran_module.activities.ActivityStorageCleanup" />
        <activity android:name="com.quran.quranaudio.online.quran_module.activities.test.ActivityExperiment" />



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".quran_module.utils.receivers.VotdReceiver"
            android:exported="true"
            android:enabled="true"
            android:process=":remote" />

        <receiver
            android:name=".quran_module.utils.receivers.CrashReceiver"
            android:exported="true"
            android:enabled="true" />

        <receiver
            android:name=".quran_module.utils.receivers.AlarmPermissionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.quran.quranaudio.online.quran_module.utils.receivers.BootReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".quran_module.utils.services.RecitationService" android:foregroundServiceType="mediaPlayback"/>
        <service android:name=".quran_module.utils.services.RecitationChapterDownloadService" />
        <service android:name=".quran_module.utils.services.TranslationDownloadService" />
        <service android:name=".quran_module.utils.services.KFQPCScriptFontsDownloadService" />



        <!-- Quran_Module** -->

        <receiver
            android:name="com.quran.quranaudio.online.prayertimes.notifier.NotifierBootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.quran.quranaudio.online.prayertimes.notifier.AlarmPermissionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.quran.quranaudio.online.prayertimes.notifier.NotifierReceiver"
            android:exported="true"
            android:enabled="true" />
        <receiver
            android:name="com.quran.quranaudio.online.prayertimes.notifier.ReminderReceiver"
            android:exported="true"
            android:enabled="true" />
        <receiver
            android:name="com.quran.quranaudio.online.prayertimes.notifier.SilenterReceiver"
            android:exported="true"
            android:enabled="true" />
        <receiver
            android:name="com.quran.quranaudio.online.prayertimes.notifier.NotifierActionReceiver"
            android:exported="true"
            android:enabled="true" />
        <receiver android:name="com.quran.quranaudio.online.prayertimes.notifier.NotificationDismissedReceiver"
            android:exported="true"/>

        <receiver
            android:name="com.quran.quranaudio.online.prayertimes.notifier.CustomMediaButtonReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <!-- Disable androidx.startup only for WorkManagerInitializer -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

    </application>

    <queries>
        <intent>
            <action android:name="android.speech.action.RECOGNIZE_SPEECH" />
        </intent>
    </queries>

</manifest>